/* ========================================
   RESET GLOBAL
======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ========================================
   HEADER
======================================== */

header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem;
  padding-inline: 1.6rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: #B4AEAE;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: .7rem;
      color: #1F2937;
      
      @media (min-width: 320px) and (max-width: 479px) {
        font-size: 2rem;
      }
    }

    img {
      margin-block: .7rem;
      max-width: 20%;
      height: auto;
      display: block;
    }
  }
}

/* ========================================
   NAVEGAÇÃO
======================================== */

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  li {
    padding: .4rem;
    
    @media (min-width: 320px) and (max-width: 479px) {
      padding: .3rem;
    }

    a {
      font-size: 1.1em;
      font-weight: 400;
      white-space: nowrap;
      color: #4B5563;
      
      @media (min-width: 320px) and (max-width: 479px) {
        font-size: 1rem;
      }
    }

    .btn-primary {
      font-size: 1rem;
      display: inline-block;
      margin-top: .5rem;
      padding: .7em 1.7em;
      font-weight: 400;
      color: #FFFFFF;
      border-radius: 5px;
      background-color: #21C05C;
      
      @media (min-width: 320px) and (max-width: 479px) {
        font-size: 1rem;
      }
    }
  }
}

/* ========================================
   SEÇÃO HERO
======================================== */

/* ===== HERO BASE ===== */
.hero {
  display: block;
}

/* ===== HERO CONTENT ===== */
.hero-content {
  h2 {
    font-size: 1.7rem;
    text-align: left;
    padding-inline: 1.6rem;
    font-weight: 700;
    color: #1F2937;
    margin-top: 1.7rem;
  }

  .break {
    display: block;
  }

  .hero-description {
    font-size: 1.1rem;
    text-align: left;
    padding-block: .9rem;
    line-height: 1.4;
    letter-spacing: .5px;
    padding-inline: 1.6rem;
  }

  .p-break {
    display: block;
  }
}

/* ===== HERO BUTTONS ===== */
.hero-buttons {
  display: flex;
  padding-inline: 1.6rem;
  margin-top: .5rem;
  gap: 20px;

  .btn-donate,
  .btn-acquire {
    font-size: .9rem;
    display: inline-block;
    padding: .6em 1.2em;
    font-weight: 400;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
  }

  .btn-donate {
    background-color: #16A34A;
    color: #FFFFFF;
  }

  .btn-acquire {
    color: #2563EB;
    background-color: #FFFFFF;
    border: 2px solid #2563EB;
  }
}

/* ===== HERO IMAGE ===== */
.hero-image {
  img {
    width: 80%;
    height: auto;
    display: block;
    margin-inline: auto;
    padding-block: 2.3rem;
  }
}

/* ========================================
    SEÇÃO ESTATÍSTICAS
======================================== */
.stats-list {
  display: flex;
  justify-content: center;
  padding-inline: 1.6rem;
  background-color: #F3F5F8;

  .stat-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-block: .6rem;

    dt {
      font-size: 1.3rem;
      text-align: center;
      color: #16A34A;
      font-weight: 700;
    }

    dd {
      font-size: .8rem;
      color: #4B5563;
      font-weight: 400;
      letter-spacing: .5px;
      text-align: center;
      padding-block: .6em;

      .stat-label {
        display: block;
      }
    }
  }
}

/* ========================================
     SEÇÃO COMO FUNCIONA
======================================== */

.how-it-works {
  text-align: center;
  padding-inline: 1.3rem;

  .how-title {
    font-size: 1.7rem;
    padding: 0.9em 0 0.4em 0;
    font-weight: 700;
  }

  .subtitle {
    font-size: 1.1rem;
    padding: 0 0 2em 0;
    line-height: 1.4;
    letter-spacing: 0.5px;

    .highlight {
      display: block;
    }
  }
}

.user-types {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  .user-type {
    padding-inline: 0.8em;
    padding-block: 2em;
    border-radius: 7px;
    background-color: #F3F5F8;

    .description {
      font-weight: 400;
      color: #4B5563;
      padding: 0.7em 0 1.5em 0;
      text-align: left;
    }

    ol {
      text-align: left;

      .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.9em;
        gap: 0.6em;

        .step-number {
          width: 1.8rem;
          height: 1.8rem;
          line-height: 1.8rem;
          text-align: center;
          border-radius: 50%;
          color: #ffffff;
          background-color: #16A34A;
          font-weight: 600;
          font-size: 0.9rem;
          flex-shrink: 0;
          display: inline-block;
        }

        .step-content {
          .step-title {
            font-weight: 700;
            color: #09090B;
            font-size: 1.2em;
          }

          .step-text {
            color: #4B5563;
            font-weight: 400;
          }
        }
      }
    }
  }

  .acquirer {
    margin-top: 1.3em;
    background-color: #F3F5F8;
  }
}

.user-type-header {
  display: flex;
  align-items: center;
  padding-block: 0.6em;
  gap: 0.5em;

  .user-type-title {
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-left: 0.5em;
  }

  .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #ffffff;
    font-size: 1rem;
  }

  &.donor .icon {
    background-color: #DCFCE7; 
  }

  &.acquirer .icon {
    background-color: #DBEAFE; 
  }
}

/* cores específicas para os títulos */
.donor-title {
  color: #16A34A;
}

.acquirer-title {
  color: #2563EB;
}









/* ========================================
   MEDIA QUERIES
======================================== */



/* Celular pequeno - 320px até 479px */
@media (min-width: 320px) and (max-width: 479px) {
  header {
    background-color: rgb(225, 76, 173);
  }
}

/* Celular médio - 480px até 767px */
@media (min-width: 480px) and (max-width: 767px) {
  header {
    background-color: orange;
  }
}

/* Tablet - 768px até 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    background-color: yellow;
    color: black;
  }
}

/* Desktop pequeno - 1024px até 1365px */
@media (min-width: 1024px) and (max-width: 1365px) {
  header {
    background-color: green;
  }
}

/* Desktop médio - 1366px até 1919px */
@media (min-width: 1366px) and (max-width: 1919px) {
  header {
    background-color: blue;
  }
}

/* Desktop grande - a partir de 1920px */
@media (min-width: 1920px) {
  header {
    background-color: purple;
  }
}